:root {
    /*
    ---------------------------------------------
    Index color
    ---------------------------------------------
    */
    --index-bg: #fff;
    --button-main: #6451D6;
    --button-main-hover: #6451D6;
    --button-main-text: #fff;
    --index-gradient: linear-gradient(to right, #7791FF, #FF96C2);
    --index-text: #333333;
    --index-paragraph: #333333;

    /*
    ---------------------------------------------
    Cookie color
    ---------------------------------------------
    */
    --cookie-button:#e5a024;
    --cookie-button-hover:#be861c;
    --cookie-button-text: #000;
    --cookie-background: #f0f0f0;

    /*
    ---------------------------------------------
    Profiles color
    ---------------------------------------------
    */
    --profiles-bg: linear-gradient(to right, #7791FF, #FF96C2);
    --profiles-text: #000;
    --profiles-button-bg: #7453fc;
    --profiles-button-text: #fff;
    --profiles-button-hover: #A995FF;
    --profiles-error-text: red;
    --profiles-pass-field: rgba(0,0,0,0.4);
    --profiles-pass-field-bg: #fefefe;
    --profiles-pass-field-border: #888;
    --profiles-switch-bg: #ccc;
    --profiles-switch-light: #fff;
    --profiles-switch-dark: #A995FF;


    /*
    ---------------------------------------------
    Ueber Uns color
    ---------------------------------------------
    */
    --uns-bg: linear-gradient(to right, #7791FF, #FF96C2);
    --uns-about-bg: #5170ff;
    --uns-about-text: #fff;
    --uns-title: grey;
    --uns-button-text: white;
    --uns-button-bg: #7453fc;
    --uns-button-hover: #A995FF;
    --uns-text: #000;

    /*
    ---------------------------------------------
    Login color
    ---------------------------------------------
    */
    --login-bg: #2222229d;
    --login-text: #333;
    --login-text-header: #333333;
    --login-button-border: #7453fc;
    --login-button: #A995FF;
    --login-button-text: #333333;
    --login-switch-button-border: #fff;
    --login-inside-panel: #e4e3e3;
    --login-input-field: #eee;
    --login-panel-shadow: rgba(0,0,0,0.25);

    /*
    ---------------------------------------------
    Anzeige/Gesuch color
    ---------------------------------------------
    */
    
    --anzeige-bg: #f4f4f4;
    --anzeige-btn: #7453fc;
    --anzeige-btn-hover: #A995FF;
    --anzeige-btn-text: white;
    --anzeige-btn-hover-text: black;
    --textarea-border: #ccc;

    /*
    ---------------------------------------------
    Pre-loader color
    ---------------------------------------------
    */
    --preloader-bg: rgba(0,0,0,0.98);
    --preloader: #7453fc;

    /*
    ---------------------------------------------
    Nav-bar color
    ---------------------------------------------
    */
    --nav-bg: #6451D6;
    --nav-shadow: rgba(0,0,0,0.15);
    --nav-text: white;
    --nav-bg-hover: #A995FF;
    --nav-text-hover:black;


    /*
    ---------------------------------------------
    Nav-bar-mobile color
    ---------------------------------------------
    */
    --nav-mob-ham: #333333;
    --nav-mob-bg: #fff;
    --nav-mob-shadow: rgba(0, 0, 0, .4);
    --nav-mob-text: #ffffff;
    --nav-mob-item-bg: #6451D6;
    --nav-mob-item-bg-hover: #A995FF;

    /*
    ---------------------------------------------
    Footer color
    ---------------------------------------------
    */
    --footer-bg: #6451D6;
    --footer-text: #fff;

    /*
    ---------------------------------------------
    Impressum color
    ---------------------------------------------
    */
    --impressum-bg: #fff;
    --impressum-text: #333;
    --impressum-section-bg: #f8f7f7;
    --impressum-section-shadow: rgba(0, 0, 0, 0.29);
    --impressum-link: #6451D6;
    --impressum-divider: #A995FF;

    /*
    ---------------------------------------------
    AGB color
    ---------------------------------------------
    */
    --agb-bg: #fff;
    --agb-text: #333;
    --agb-section-bg: #f8f7f7;
    --agb-section-shadow: rgba(0, 0, 0, 0.29);
    --agb-link: #6451D6;
    --agb-divider: #A995FF;

    /*
    ---------------------------------------------
    Suchmaschine color
    ---------------------------------------------
    */
    --such-bg: #f4f4f4;
    --such-text: #333;
    --such-border: #ddd;
    --such-shadow: rgba(0,0,0,0.1);
    --such-btn: #7453fc;
    --such-btn-hover: #A995FF;
    --such-btn-text: #fff;
    --such-header: #333;
}