/*
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
* {
  box-sizing: border-box;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: var(--index-bg);
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5{
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: var(--index-paragraph);
}

img {
  width: 100%;
  overflow: hidden;
}

.main-button a {
  font-size: 14px;
  color: var(--button-main-text);
  background-color: var(--button-main);
  border: 1px solid var(--button-main);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover {
  background-color: var(--button-main-text);
  color: var(--button-main-hover);
  border: 1px solid var(--button-main-text);
}

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/
.mobile-banner {
  display: none;
  width: 70%;
  height: 0px;
  font-size: 12px;
  margin-left: 15%;
}

.main-banner {
  width: 40%;
  height: 90vh;
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.main-banner .bg {
  width: 130vh;
  height: 90vh;
  background: var(--index-gradient);
  margin-left: 100%;
}

.main-banner .container {
  position: relative;
  top: 30%;
  left: 5%;
}
.ueberschrift {
    color: var(--index-text);
}

.main-banner h2 {
  color: var(--index-text);
  font-size: 50px;
  font-weight: 700;
  line-height: 66px;
  /* text-transform: uppercase; */
}

.main-banner p {
  margin-top: 20px;
}

.main-banner .buttons {
  margin-top: 30px;
  display: flex;
  justify-content: start;
}

/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

@media (max-width: 1000px) {
  .main-banner {
    background: var(--index-gradient);
    width: 100%;
  }
  
  .main-banner .bg {
    display: none;
  }

  .header-area { 
    display: none;
  }
  .main-button{
    padding-left: 50px;
  }
  .mobile-header {
    width: 0px;
    height: 0px;
    display: block;
  }
  .mobile-banner {
    display: block;
  }
  h1, h2, h3, h4, h5{
    padding-left: 10px;
  }
  h1{
    font-size: 40px;
 
  }
  h2{
    font-size: 17px;
  }
 p{
  font-size: 19px;
  padding-left: 10px;
  padding: 50px;
 }

 footer p {
   padding: 0;
 }
}
