/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
:root {
  --body-background-color: #2222229d; 
  
  --panel-color: #e4e3e3;

  --switch-button-border-color: #ffffff;
  --button-border-color: #7453fc;
  --button-color: #7453fc;
  --button-text-color: #fff;


  --footer-text-color: #ffffff;
  --footer-bg-color: #5170ff;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--body-background-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
    overflow: hidden;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}


/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/  
.background-header {
    background-color: #5170ff !important;
    height: 70px!important;
    position: fixed!important;
    top: 0!important;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
    transition: all .5s ease 0s;
    width: 100%;
  }
  
  .header-area {
    background-color: transparent;
    position: absolute;
    height: 70px;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all .5s ease 0s;
  }
  
  .header-area .main-nav {
    min-height: 80px;
    background: transparent;
    display: flex;
    background-color: #5170ff;
    padding: 15px 30px;
    border-radius: 50px;
    width: 90%;
    margin-left: 5%;
    height: 102px;
  }
  
  .background-header .main-nav {
    padding: 0px;
    background-color: transparent;
  }
  
  .background-header .main-nav .logo {
    margin-top: 8px;
  }
  
  .header-area .main-nav .logo img {
    width: 100px;
    margin-top: -15px;
  }
  
  .background-header .main-nav .logo img {
    width: 75px;
  }
  
  .header-area .main-nav .nav {
    display: inline-flex;
    flex-basis: 70%;
    justify-content: flex-end;
    vertical-align: middle;
    text-align: right;
    margin-top: 0px;
    margin-right: 0px;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
    margin-left: 300px;
  }
  
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
  }
  
  .header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #2a2a2a;
    transition: all 0.3s ease 0s;
    border: transparent;
    padding: 8px 15px;
    border-radius: 18px;
    letter-spacing: 1px;
  }
  
  .header-area .main-nav .nav li:hover a {
    color: #fff;
    background-color: #7453fc;
  }
  
  .header-area .main-nav .nav li a.active {
    color: #fff;
    background-color: #7453fc;
  }


  /* 
---------------------------------------------
Mobile Header Style
--------------------------------------------- 
*/
.mobile-header {
    display: none;
    z-index: 2;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 36px;
    height: 26px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 10px 24px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    background-color: #c2b5f7;
    margin-bottom: 2px;
  }
  .menu__item:hover {
    background-color: #aca1d8;
  }


/* 
---------------------------------------------
Button Styles
--------------------------------------------- 
*/
button {
	border-radius: 20px;
	border: 1px solid var(--button-border-color);
	background-color: var(--button-color);
	color: var(--button-text-color);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: var(--switch-button-border-color);
}


/* 
---------------------------------------------
Box Styles
--------------------------------------------- 
*/
form {
	background-color: var(--panel-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form-box h1{
    color: rgb(14, 14, 14);
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.box {
	background-color: var(--panel-color);
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    z-index: 1;
}

.form-box {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-box {
	left: 0;
	width: 50%;
	z-index: 2;
}

.box.right-panel-active .sign-in-box {
	transform: translateX(100%);
}

.sign-up-box {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.box.right-panel-active .sign-up-box {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-box {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.box.right-panel-active .overlay-box{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #5170ff, #da57fa);
	background: linear-gradient(to right, #5170ff, #da57fa);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.box.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.box.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.box.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-box {
	margin: 20px 0;
}

.social-box a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    color: var(--footer-text-color);
  }
  
  footer p a {
    color: var(--footer-text-color);
    font-weight: 500;
    transition: all .3s;
  }
  
  footer p a:hover {
    color: var(--footer-text-color);
    opacity: 0.75;
  }


/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
    overflow-x: hidden;
  }
  
  @media (max-width: 1000px) {
    .main-banner {  
      background: linear-gradient(to right, #5170ff, #da57fa);
      width: 100%;
    }
    
    .main-banner .bg {
      display: none;
    }
  
    .header-area { 
      display: none;
    }
  
    .mobile-header {
      width: 0px;
      height: 0px;
      display: block;
    }
    .mobile-banner {
      display: block;
    }
  }