body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}
.containered {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 190px;
}

h2, p {
    color: black;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    color: var(--footer-text-color);
  }
  
  footer p a {
    color: var(--footer-text-color);
    font-weight: 500;
    transition: all .3s;
  }
  
  footer p a:hover {
    color: var(--footer-text-color);
    opacity: 0.75;
  }