body {
    font-family: Arial, sans-serif;
    background-color: var(--profiles-bg);
    text-align: center;
}
.containered {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--profiles-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 190px;
}

h2, p {
    color: var(--profiles-text)
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--profiles-button-bg);
    color: var(--profiles-button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--profiles-button-hover);
}

/*
---------------------------------------------
Profile Picture Style
---------------------------------------------
 */
.profile-picture-container {
    text-align: center;
    margin: 20px;
}

.profile-picture-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture-container input[type="file"] {
    margin-top: 10px;
}

.profile-picture-container button{
    margin-top: 20px;

}


/*
---------------------------------------------
Profile Picture Box Style
---------------------------------------------
 */

.error_text {
    color: var(--profiles-error-text);
}


/*
---------------------------------------------
Change Password Style
---------------------------------------------
 */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--profiles-pass-field);
    padding-top: 60px;
}

.modal h2 {
    margin-bottom: 10px;
}

.modal-content {
    background-color: var(--profiles-pass-field-bg);
    width: 80%;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--profiles-pass-field-border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 125px;
}

input[type="password"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--profiles-pass-field-border);
    box-sizing: border-box;
    border-radius: 4px;
}

.close {
    color: var(--profiles-pass-field-border);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#passwordChangeMessage {
    padding: 0px;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/
footer {
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}

/*
---------------------------------------------
Responsive Style
---------------------------------------------
*/

body {
    overflow-x: hidden;
}

@media (max-width: 1000px) {
     p {
         padding: 0;
     }

    .menu__box {
        z-index: 9999
    }
    .menu__btn {
        z-index: 99999999;
    }

    .containered {
        margin-top: 100px;
    }
}

@media (max-width: 400px) {
    body {
        height: 900px;
    }

    footer {
        padding: 0;
    }
}

@media (max-height: 760px) {
    body {
        height: 900px;
    }

    footer {
        padding: 0;
    }
}

@media (max-width: 300px) {
    .menu__box {
        left: -200%;
    }
    
}